<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions of Use</title>
</head>

<body>
    <h1>APPNAME - Conditions of Use</h1>
    <h2>1. Scope of Validity</h2>
    <p>1.1 “APPNAME” is a mobile software application by
    <ul>
        <li>Florian Teich</li>
        <li>Paul-Dessau Straße 1</li>
        <li>12679 Berlin</li>
        <li>Germany</li>
    </ul>, (hereinafter referred to as "us" or "we").</p>
    <p>1.2 These conditions of use regulate the relationship between us and the users of the application (in
        the following "Users").</p>

    <h2>2. Offer, Registration, Participation conditions</h2>
    <p>2.1 DESCRIPTION</p>
    <p>2.2 The technical requirements for using the app are an end device (smartphone, tablet, etc.) and
        internet access.</p>
    <p>2.3 By using the application, the user accepts the present terms of use. If users do not agree with the
        terms of these conditions, they may not use this service.</p>
    <p>2.4 We strive to continually develop and maintain the offer and to make it available. It is
        continuously developed and, after proper consideration, is adapted to various factors, such as the
        needs of the User, the requirements of the market and the technical and economic situation. As a
        result, the offer includes the applications in their current stage of development. Users have no right
        to demand that the offer remains unchanged in terms of its content and scope or that it retains
        certain functions. Neither does any claim exist for the offer to always be available and retrievable or
        that it be free of errors. Nevertheless, we strive for constant availability and functionality of the app.</p>
    <p>2.5 We can also not ensure that the application will work equally well on all end devices. The overall
        usability and the accuracy of the given user location depend on circumstances which we cannot
        influence (Users’ hardware, data speed, the services of third parties, etc.).</p>
    <p>2.6 We also reserves the right not to no longer make the software, or parts thereof, available.</p>
    <p>2.7 The user is also aware that by using the app and activating it, the battery level of his device and
        his data volume can be affected.</p>
    <p>2.8 The User undertakes to refrain from any activity which affects or might affect the functional
        capabilities of our offer (e.g. by means of software or other scripts).</p>


    <h2>3. Costs</h2>
    <p>3.1 The use of the basic version of the app is free of charge. The basic version is financed through
        displayed advertising within the app.</p>
    <p>3.2 The chargeable functions of the app are only possible after buying a subscription. The price and
        the duration of the various subscription options are displayed to the user in the App Store.</p>
    <p>3.3 We point out that the use of the app may incur further costs of the service provider on the part
        of the user, which are beyond our control.</p>

    <h2>4. Granting of rights to users for the use of the app</h2>
    <p>4.1 We hereby grant Users the right to use the Application for the purpose set forth in these Terms
        and Conditions under this Agreement.</p>
    <p>4.2 Any further use of the content and the app, in particular duplication, distribution and
        decomplication, is not permitted without explicit permission.</p>

    <h2>5. Alterations to the Terms of Use</h2>
    <p>We reserve the right to alter these terms of use with effect for the future. In this case, the User will
        be informed of such alterations to the terms of use before the next use of the software. Further use
        of the App will only be possible if these alterations are agreed to.</p>

    <h2>6. Liability</h2>
    <p>The legal liability law applies.</p>

    <h2>7. Rights of the Operators of this Application</h2>
    <p>In the event of any violation of these terms of use, laws and/or other rules published in the
        respective App Store, we can temporarily or permanently exclude use of the app.</p>

    <h2>8. Applicable Law, Contractual Language, Final Clause</h2>
    <p>8.1 The law of the Federal Republic of Germany shall apply for the contractual relationship between
        the User and us insofar as no mandatory regulations contradict such. The contractual language is
        English.</p>
    <p>8.2 Should one or more of the provisions of this contract be or become ineffective, this shall not
        affect the validity of the remaining provisions. The contracting parties are obliged to replace the
        ineffective provision with a valid provision that best achieves the contractually agreed result.</p>

</body>

</html>